body{
	background-color: #DEF2DA
}

h1{
	color: #2147B1;
}

h2{
	color: #FEAE87;
}

h3{
	color: #DEF2DA;
}

h4{
	color: #DEF2DA;
}

p{
	color: #2147B1;
}

a{
	color: #FEAE87;	
}

li{
	color: #2147B1;
}

th{
	color: #FEAE87;
}

td{
	color: #2147B1;
}