body{
	background-color: #FEFEFE
}

h1{
	color: #F40444;
}

h2{
	color: #457250;
}

h3{
	color: #457250;
}

h4{
	color: #457250;
}

p{
	color: #457250;
}

a{
	color: #F40444;	
}

li{
	color: #457250;
}