*{
    padding: 0px;
    margin: 0px;
}

section{
    perspective: 800px;
    margin: 0 auto;
    line-height: 600px;
    height: 600px;
    text-align: center;
    max-width: 800px;
    position: relative;
    -webkit-animation-name: starwars; 
   -webkit-animation-duration: 4s;
   animation-name: starwars;
   animation-duration: 4s;
}

section p{
    transform: rotateX(70deg);
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    font-size: 4em;
    transform-style: preserve-3d;
}

@-webkit-keyframes starwars {
    0%   {transform: translateY(1000px); perspective: 800px}
    100% {transform: translateY(0px); perspective: 800px}
}

@keyframes starwars {
    0%   {transform: translateY(1000px); perspective: 800px}
    100% {transform: translateY(0px); perspective: 800px}
} 