@font-face {
  font-family: CharisSILW;
  src: url(fonts/CharisSIL-R.woff);
}
@font-face {
  font-family: CharisSILW;
  font-style: italic;
  src: url(fonts/CharisSIL-I.woff);
}
@font-face {
	font-family: CharisSILW;
	font-weight: bold;
	src: url(fonts/CharisSIL-B.woff);
}
@font-face {
	font-family: CharisSILW;
	font-weight: bold;
	font-style: italic;
	src: url(fonts/CharisSIL-BI.woff);
}	

body{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

.sheet{
	width: 100%;
	height: auto;
  	margin: 0 auto;
  	position: relative;
  	display: flex;
}

.left-bl{
	width: 75%;
	margin: 0 auto;
	padding: 45px;
	padding-bottom: 0px;
	height: 100vh;
	position: fixed;
	overflow: scroll;
	z-index: 2;
	box-sizing: border-box;
}

.right-bl{
	width: 25%;
	margin: 0 auto;
	padding: 40px;
	background-color: #FFFE9F;
	height: 100vh;
	position: fixed;
	z-index: 2;
	right: 0px;
	box-sizing: border-box;
	overflow: scroll;
}

.right-bl section i{
	margin-right: 25px;
}

.right-bl h3{
	font-size: 18px;
	font-family: sans-serif;
}

header{
	display: flex;
	font-family: sans-serif;
	margin-bottom: 20px;
	font-family: CharisSILW, sans-serif;
	font-weight: normal;
}

.nom{
	flex: 3;
	margin: 0 auto;
	font-size: 2em;
	margin-top: 12px;

}

.nom h1{
	margin: 0 auto;
	line-height: 60px;
	font-size: 1.3em;
	border-bottom: 1px solid;
	padding-bottom: 20px;
}

.nom h2{
	margin: 0 auto;
	line-height: 45px;
	font-size: 0.9em;
	font-weight: normal;
	font-family: CharisSILW;
	margin-top: 20px;
	font-family: sans-serif;
}

.nom a{
	margin: 0 auto;
	line-height: 60px;
	font-size: 0.5em;
	margin-top: 20px;
	font-family: sans-serif;
	color: black;
	transition: all ease 0.5s;
	text-decoration: none;
	border: 1px solid black;
	padding: 10px;
	box-shadow: 5px 5px black;
	text-transform: uppercase;
}

.nom a:hover{
	margin: 0 auto;
	line-height: 60px;
	font-size: 0.5em;
	margin-top: 20px;
	border: 1px solid #6B6B6B;
	box-shadow: 5px 5px #6B6B6B;
	color: #6B6B6B;
}

.portrait{
	padding: 0px 50px 0px 0px;
	flex: 1;
}

.personal, .contact, .work, .education, .software{
	display: flex;
}

.personal p, .contact p, .work p, .education p, .software p{
	border-bottom: 1px solid;
}

article h3{
	border-bottom: 1px solid;
	padding-bottom: 3px;
}

h3{
	font-size: 25px;
}

.container{
	display: flex;
}

section{
	flex: 2.5;
}

.timeline{
	flex: 1.5;
	padding: 0px 0px 0px 50px;
}

.timeline h3{
	border-bottom: 1px solid;
	padding-bottom: 3px;
}

.time-ctr h4{
	font-family: CharisSILW, sans-serif;
	margin-bottom: 0px;
	margin-top: 10px;
}

.time-ctr h5{
	margin-bottom: 0px;
}

.time-ctr p{
	margin-bottom: 0px;
	margin-top: 8px;
}

p.smyle i{
	display: inline-block;
}

i{
	margin-right: 7px;
}

.online h3{
	border-bottom: 1px solid;
}

.call h5, .write h5{
	margin: 0px;
	font-size: 1em;
	font-family: sans-serif;
	font-weight: 600;
}

.write{
	margin-top: 30px;
}

.call p, .write p{
	margin: 0px;
	font-size: 1em;
	margin-top: 10px;
}

.right{
	flex: 3;
	margin-top: -20px;
}

.left{
	flex: 1;
	margin-top: -20px;
}

.left p{
	font-weight: 500;
	padding-bottom: 7px;
    margin-top: 5px;
}

.right p{
	padding-bottom: 7px;
    margin-top: 5px;
}

h3{
	font-family: CharisSILW, sans-serif;	
}

.aboutme{
	margin-top: 40px;
}

.aboutme h3{
	/*
	font-family: CharisSILW, sans-serif;
	*/
	border-bottom: 1px solid;
	padding-bottom: 10px;
}

.aboutme p{
	font-size: 16px;
}

.references{
	margin-top: 40px;
}

.references h3{
	/*
	font-family: CharisSILW, sans-serif;
	*/
	border-bottom: 1px solid;
	padding-bottom: 10px;

}

ul{
	padding-left: 0px;
}

ul li{
	display: inline;
}

.icon {
 display: inline-block;
 color: black;
 margin-right: 15px;
 margin-bottom: 15px;
 transition: color ease 0.5s;
}

.icon:hover {
color: #6B6B6B;
}

.ref h5{
	font-size: 15px;
	margin-bottom: 0px;
}

.ref p{
	font-size: 14px;
}

.ref p a{
	color: black;
	transition: color ease 0.5s;
}

.ref p a:hover{
	color: #6B6B6B;
}

.ref{
	margin-bottom: 40px;
}

.onlinemob{
	display: none;
}

@media (max-width: 1000px) {

.sheet{
	width: 100%;
	height: auto;
	background-color: #fff;
  	margin: 0 auto;
  	position: inherit;
  	display: flex;
  	flex-direction: column;
}

.left-bl{
	width: 100%;
	margin: 0 auto;
	padding: 45px;
	padding-bottom: 0px;
	height: auto;
	position: inherit;
	overflow: auto;
	z-index: 2;
	box-sizing: border-box;
	padding-bottom: 50px;
}

.right-bl{
	width: 100%;
	margin: 0 auto;
	padding: 45px;
	background: -webkit-linear-gradient(-180deg, rgb(255, 255, 255), rgb(255, 255, 0));
	background: linear-gradient(-180deg, rgb(255, 255, 255), rgb(255, 255, 0));
	height: auto;
	position: inherit;
	z-index: 2;
	right: 0px;
	box-sizing: border-box;
	overflow: auto;
	font-size: 2em;
}

.container{
	display: flex;
	flex-direction: column;
}

.timeline{
	padding: 0px;
	display: none;
}

.left{
	font-size: 1.934em;
}

.right{
	font-size: 1.934em;
}

.nom h1{
	line-height: 88px;
    font-size: 1.9em;
}

.nom h2{
	line-height: 55px;
    font-size: 1.3em;
}

.aboutme h3{
	font-size: 50px;
}

.references h3{
	font-size: 50px;
}

.nom a {
	display: none;
}	

.call{
	display: none;
}

.write{
	display: none;
}

.right-bl {
    padding-top: 10px;
}

article h3{
	font-size: 2em;
}

.online{
	display: none;
}

.onlinemob .icon {
 display: inline-block;
 color: black;
 margin-right: 50px;
 margin-bottom: 15px;
 transition: color ease 0.5s;
}

.onlinemob .icon:hover {
color: black;
}

.onlinemob ul li{
	display: inline;
}

.onlinemob h2{
	border-bottom: 1px solid;
    padding-top: 15px;
}

.right p i {
	margin-right: 20px;
}
}