@font-face {
	font-family: "ostrich";
	src: url("fonts/ostrich-sans-black.woff") format("woff");
}

body{
	padding: 0px;
	margin: 0px;
	background-color: #0027ff;
}

#sheet{
	width: 70%;
	height: auto;
	background-color: #fff;
  	margin: 0 auto;
  	position: relative;
  	margin-top: 2%;
  	margin-bottom: 2%;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;

}

header{
	flex: 3;
	display: flex;
	flex-direction: row;
	margin-left: 5%;
}

#nom{
	display: block;
	font-family: "ostrich";
	font-size: 2em;
}

#portrait img{
	width: 20%;
	margin-top: 5%;
}	

h2{
	font-family: "ostrich";
}

#personal, #contact, #work, #education, #software{
	margin-left: 5%;
}

.left{
	float: left;
	margin-top: 10px;
	padding: 0px;

}

.left p{
    padding: 0px;
    margin: 0px;
}

.right{
	margin-left: 300px;
	margin-top: 10px;
	padding: 0px;
}

#about{
	flex:1;
}