@font-face {
  font-family: Bagnard;
  src: url(fonts/Bagnard.otf);
}

body{
  padding: 0px;
  margin: 0px;
}

header{
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  padding: 0px;
  display: flex;
  margin: 50px 80px;
}

header h1{
  flex: 3;
  color: blue;
}

.links{
  flex: 1;
  text-align: right;
}

.links i{
  margin-top: 65px;
  margin-left: 15px;
  color: blue;
  transition: all ease 0.5s;
}

a i:hover{
  color: black;
}

header h1{
  font-family: Bagnard;
  font-size: 5em;
  font-weight: normal;
}


.about p {
  font-family: Bagnard;
  font-size: 3em;
  padding-bottom: 30px;
  color: blue;
  margin: 50px 80px;
  border-bottom: 1px solid blue;
}

.info-ctr{
  padding-bottom: 0px;
  margin: 50px 80px 0px 80px;
  display: flex;
}

a.info-1{
  flex: 1;
  color: blue;
  border: 1px solid blue;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  transition: all ease 0.5s;
}

a.info-2{
  flex: 1;
  margin-left: 30px;
  color: blue;
  border: 1px solid blue;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  transition: all ease 0.5s;
}

a.info-3{
  flex: 1;
  margin-left: 30px;
  color: blue;
  border: 1px solid blue;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  transition: all ease 0.5s;
}

a.info-1:hover, a.info-2:hover, a.info-3:hover{
background-color: blue;
color: white;
}

a.info-1 h3, a.info-2 h3, a.info-3 h3{
  font-family: Bagnard;
  font-size: 20px;
  margin-bottom: 10px;
}

section.image{
  display: none;
}

footer{
  border-top: 1px solid blue;
  margin: 50px 80px;
  padding-top: 10px;
  padding-bottom: 0px;
}

footer p{
  font-family: Bagnard;
  font-size: 1em;
  color: blue;
}

@media (max-width: 1000px) {

  header{
    margin: 50px 50px;
  }

  header h1{
    flex: 3;
    color: blue;
    font-size: 5em;
  }

  .links i{
    margin-top: 75px;
  }

  .about p {
    font-family: Bagnard;
    font-size: 3em;
    margin: 50px;
    margin-bottom: 80px;
  }

  .info-ctr{
    display: flex;
    flex-direction: column;
    margin: 50px;
  }

  a.info-1, a.info-2, a.info-3{
    margin-left: 0px;
  }

  a.info-2, a.info-3{
    margin-top: 35px;
  }

  a.info-1 h3, a.info-2 h3, a.info-3 h3{
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: normal;
  }

  section.image{
    display: block;
    margin: 50px 50px 0px 50px;
    border-top: 1px solid blue;
    padding-top: 50px;
  }

  section.image img{
    width: 100%;
    height: auto;
  }

  footer{
    margin: 50px;
    margin-top: 40px;
  }

  footer p{
    font-size: 2em;
  }

}
