@font-face {
  font-family: Bagnard;
  src: url(fonts/Bagnard.otf);
}

@font-face {
  font-family: Micross;
  src: url(fonts/micross.ttf);
}

body{
  padding: 0px;
  margin: 0px;
/*
  background: -webkit-linear-gradient(2deg, rgb(125, 183, 255), rgb(255, 255, 255));
  background: linear-gradient(2deg, rgb(125, 183, 255), rgb(255, 255, 255));
*/
}

header{
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  padding: 0px;
  display: flex;
  margin: 50px 80px;
}

header h1{
  flex: 3;
  color: blue;
}

.links{
  flex: 1;
  text-align: right;
}

.links i{
  margin-top: 50px;
  margin-left: 15px;
  color: blue;
}

header h1{
  font-family: Bagnard;
  font-size: 5em;
  font-weight: normal;
}

/*

section.info-ctr-color{
  background: -webkit-linear-gradient(0deg, rgb(0, 0, 255), rgb(255, 255, 255));
  background: linear-gradient(0deg, rgb(0, 0, 255), rgb(255, 255, 255));
}

*/

.info-ctr{
  padding-bottom: 30px;
  margin: 50px 80px 0px 80px;
  display: flex;
}

.info-1{
  flex: 1;
  color: blue;
  border: 1px solid blue;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 30px;
}

.info-2{
  flex: 1;
  margin-left: 30px;
  color: blue;
  border: 1px solid blue;
  padding: 20px;
  box-sizing: border-box;
}

.info-1 h3, .info-2 h3{
  font-family: Bagnard;
  font-size: 20px;
  margin-bottom: 10px;
}

.info-1 p, .info-2 p{
  font-family: Micross;
  font-size: 16px;
  margin-top: 0px;
}

/*

.left-ctr{
  font-family: Micross;
  font-size: 16px;
  color: blue;
  line-height: 30px;
}

.right-ctr{
  flex: 3;
  font-family: Micross;
  font-size: 16px;
  color: blue;
  margin-left: 50px;
  line-height: 30px;
}

*/

.image{
  flex: 2;
}

.image img{
  width: 100%;
  margin-right: 30px;
}

.about p {
  font-family: Bagnard;
  font-size: 3em;
  padding-bottom: 30px;
  color: blue;
  margin: 50px 80px;
  border-bottom: 1px solid blue;
}
